.about {
  display: grid;

  margin-top: 12rem;
}

/* Header */
.about__header {
  margin-bottom: 1rem;
}
.about__header-title {
  font-size: 2.4rem;
  color: #fff;
}

/* Information */
.about__info {
  text-align: justify;
}

.about__info-para {
  font-size: 1.8rem;
  color: #fff;
  line-height: 1.6;
}

/* skills */
.about__header-skills {
  font-size: 2rem;
  color: #fff;
  margin-block: 6rem;

  display: flex;
  justify-content: center;
}
.about__header-skills h3 {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  text-shadow: var(--text-light);
  font-weight: var(--fw-bold);
}
.about__header-skills ul {
  padding: 3rem 4rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 430px) {
  .about {
    margin-top: 14rem;
  }
  .about__info-para {
    font-size: 2.2rem;
  }
  .resume {
    font-size: 2.4rem;
  }
  .about__header-skills {
    font-size: 2.2rem;
  }
}
